
<div>
  <mat-dialog-content class="content">
  <h1 style="text-align: center">{{spaza?.spazaName}}</h1>
  <p>Located At</p>
  <h3>Township : {{spaza?.cityName}}</h3>
  <h3>Street : {{spaza?.streetName}}</h3>
  <b style="color: red">Do you want to Update or Delete?</b>
</mat-dialog-content>

<mat-dialog-actions >
  <button style="width:166px" mat-raised-button  (click)="close()">Close</button>
  <button style="width:166px" mat-raised-button  (click)="updateSpaza()">Update</button>
  <button style="width:166px" mat-raised-button color="warn" (click)="deleteSpaza()">Delete</button>
</mat-dialog-actions>
</div>
