<!--
 <mat-toolbar>
 <mat-toolbar-row>
   <span class="example-fill-remaining-space"></span>
   <span class="align-center"></span>
  <span class="example-spacer"></span>

</mat-toolbar-row>
</mat-toolbar> -->

<div class="bgimg">
<mat-card class="example-card">

     <mat-card-header>
        <mat-card-title  style="color:darkgray" ><i class="material-icons">dashboard</i> Spaza Dashboard</mat-card-title>
    </mat-card-header>

    <div class="mylocker">
    <i class="material-icons">lock</i>
  </div>

    <mat-card-content>

      <form [formGroup]="spazaDash" class="example-form">

              <mat-form-field class="example-full-width">

                <input  matInput placeholder="Email" formControlName="email" [(ngModel)]="username" name="username" required>
              </mat-form-field>
              <div *ngIf="spazaDash.controls.email.invalid && spazaDash.controls.email.dirty">
              </div>
              <div class="error" *ngIf="spazaDash.get('email').hasError('required') && spazaDash.get('email').touched">
               Please input your email
             </div>
             <div class="error" *ngIf="spazaDash.get('email').hasError('pattern') && spazaDash.get('email').touched">
               Email address invalid
             </div>

            <mat-form-field class="example-full-width">
             <input matInput placeholder="Password"  formControlName="password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field>
            <div *ngIf="spazaDash.controls.password.invalid && spazaDash.controls.password.dirty">
            </div>

            <div class="error" *ngIf="spazaDash.get('password').hasError('required') && spazaDash.get('password').touched">
              Please input your password
            </div>

            <div class="error" *ngIf="spazaDash.get('password').hasError('minlength') && spazaDash.get('password').touched">
              Minimum 6 characters
            </div>

            <div class="error" *ngIf="spazaDash.get('password').hasError('maxlength') && spazaDash.get('password').touched">
              Maximum 12 characters
            </div><br><br><br>

            <mat-card-actions>
                <button  mat-raised-button [disabled]="!spazaDash.valid"  style="color:darkgray"  (click)="login()">LOGIN</button>

              </mat-card-actions>
      </form>



    </mat-card-content>

   </mat-card>


<!--
 <button mat-raised-button color="accent" (click)="Loginin()">Login</button> -->

<!-- <router-outlet></router-outlet> -->
</div>
