.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

.example-card{
  text-align: center;
   width: 30%;
   height: 50%;

}
.example-full-width {
  width: 100%;
}

mat-card-content {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
form{

  padding-top: 2%;
}

mat-card{
  width: 350px;
  height: 600px;
  margin: auto;
  vertical-align: middle;
  top:100px;
  border-radius: 10%;



}
.form-row{
  display: flex;
}
.form-row input{
  flex: 1;

}
mat-card-title{
  text-align: end;
}
.bgimg {
  display:block;
  height: 100%;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-color: #b75f24;
  /* background: url("../../assets/images.png") no-repeat; */
}
.material-icons{
  top: 10px;
  color: #b75f24;

}

.mylocker  .material-icons{
font-size: 90px;
display: flex;
align-items: center;
justify-content: center;
padding-top: 20px;

}

