<mat-grid-list cols="2" rowHeight="1.2:1">
    <mat-grid-tile>
  <div class="mybarchart">
      <b><h3>Bar Chart</h3><br><br></b>
  <div style="display : flex">
    <canvas baseChart width="100" height="50"
    [datasets]="PieChartsData"
    [labels]="PieChartsLabels"
    [options]="barChartsOptions"
    [legend]="PieChartsLegend"
    [chartType]="PieChartsType"></canvas>

  </div>
</div>
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->


























<!-- </div> -->
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<!-- <div class="col-xs-4">
<div class="myPiechart">
  <div style="display : flex">
    <canvas baseChart width="100" height="50"
    [datasets]="PieChartsData"
    [labels]="PieChartsLabels"
      [legend]="PieChartsLegend"
    [chartType]="PieChartsType"></canvas>

  </div>
</div>
</div> -->
<!-- </div>
</div> -->
