<!-- <mat-grid-list cols="2" rowHeight="1.2:1">
    <mat-grid-tile>
  <div class="mybarchart">
      <b><h3>Bar Chart</h3><br><br></b>
  <div style="display : flex">
    <canvas baseChart width="100" height="50"
    [datasets]="PieChartsData"
    [labels]="PieChartsLabels"
    [options]="barChartsOptions"
    [legend]="PieChartsLegend"
    [chartType]="PieChartsType"></canvas>

  </div>
</div> -->

<mat-grid-list cols="2" rowHeight="2:1" >

  <mat-grid-tile>
    <mat-card>
        <mat-card-title style="text-align: center;">Registered Spazas Per Township</mat-card-title>
      <canvas id="myChart" width="700" height="390"></canvas>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
        <mat-card-title style="text-align: center;">Total Spazas v.s Total App Users</mat-card-title>
      <canvas id="myPieChart" width="700" height="390"></canvas>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
