<!-- <mat-toolbar>
  <div >
    <div style="margin-left: 850%">
      <button  mat-button class="trans"style="color:lightsalmon; transform: translateY(18px); font-size: 10pt ">REGISTER</button>
      <button mat-button class="trans" style="color:lightsalmon;transform: translateY(18px); font-size: 10pt;"><i class="material-icons">logout</i></button>
    </div>

</div>
</mat-toolbar> -->

<mat-drawer-container class="example-container">

  <h4>hello</h4>
  <mat-drawer class="sidebar" mode="side" opened>
      <mat-nav-list>

    <div class="item"  routerLink="/sidebar/my-dashboard" >
      <button mat-button class="trans">
     <div class="fa fa-dash"><i class="material-icons">dashboard</i></div>
     <div class="label" style="text-align: left">DASHBOARD</div>
     </button>
     </div>

     <div class="item" routerLink="/sidebar/profile">
      <button mat-button class="trans">
      <div class="fa fa-user"><i class="material-icons">person</i></div>
      <div class="label">USER PROFILE</div>
    </button>
    </div>


    <div class="item" routerLink="/sidebar/table">
      <button  mat-button class="trans">
      <div class="fa fa-table"><i class="material-icons">table_chart</i></div>
      <div class="label">TABLE LIST</div>
      </button>
    </div>


    <div class="item" routerLink="/sidebar/charts">
      <button mat-button class="trans">
      <div class="fa fa-chart"><i class="material-icons">bar_chart</i></div>
      <div class="label">CHARTS</div>
      </button>
    </div>

    <div class="item" routerLink="/sidebar/map">
      <button mat-button class="trans">
      <div class="fa fa-map"><i class="material-icons">map</i></div>
      <div class="label">MAPS</div>
      </button>
    </div>
</mat-nav-list>

  </mat-drawer>
  <mat-drawer-content autosize style="position: absolute;right: 0px;left: 5%;bottom: 0px;top: 0px;padding: 0px">
    <mat-toolbar>
      <div class="btn">
        <button  mat-button class="trans" (click)="register()" style="color:lightsalmon; transform: translateY(18px); font-size: 10pt ">ADD ADMIN</button>
        <button mat-button type="button" (click)="logout()"  class="trans" style="color:lightsalmon;transform: translateY(18px); font-size: 10pt;"><i class="material-icons">logout</i></button>

      </div>
      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
