
  <h1 style="text-align: center"><u>System Users</u></h1>
  <mat-grid-list cols="3" rowHeight="1.6:1">
    <mat-grid-tile *ngFor = "let userProfile of usersProfilesList,  let i = index"> 
        <mat-card class="card" (click) = "openDialog(userProfile)" >
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Name : {{ userProfile?.name }} <br>Surname : {{ userProfile?.surname }}</mat-card-title>
                <mat-card-subtitle> {{ userProfile?.typeOfUser }} </mat-card-subtitle>
            </mat-card-header>
            <mat-icon class="icon" style="font-size: 50pt;">person</mat-icon>
            <mat-card-content>
                Email : {{ userProfile?.email }}<br>
                Gender : {{ userProfile?.gender }}<br>
                Number of Spaza(s) Registered : {{ userProfile?.numberOfSpazas }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button style="margin-left: 25%">Change Role</button>
                <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>