.my-form{

  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.full-width {
  width: 100%;
}
mat-card-content{
  top:100%;
}
mat-card{
  width: 350px;
  /* height: 400px; */
  margin:auto;
  vertical-align:middle;
  top:10px;
  border-radius: 10%;

}
.bgimg{
  display:block;
  height: 100%;
  background-size: cover;
  background-color: #b75f24;
}
.mybuutton{
  text-align: center;
  color: #b75f24;
}

p{
  text-align: center;
  padding-top: 5%;
  color:lightgray;
  letter-spacing: 2px;
}

.error{
color:red;
}

